.card {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
    display: inline-block;
    Width: 382px;
    min-height: 282px;
    margin: 16px;
    padding-left: 24px;
}

.trashIcon {
    float: right;
    margin: 0.8rem;
    cursor: pointer;
}

.cardTitle {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    display: flex;
    align-items: flex-end;
    color: #27272A;
}

.cardAdress {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #3F3F46;
}

.cardTags {
    display: inline-flex;
    background: #F2EC54;
    border-radius: 99px;
    padding-right: 10px;
    min-width: 100px;
    height: 32px;
    margin: 8px 8px;
    vertical-align: middle;
    gap: 5px;
}

.tagText {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    line-height: 200%;
}

.tagIcon {
    margin: auto 0 auto 8px;
    transform: translate(0, 4%);
}

.addIcon:hover {
    cursor: pointer;
}

.addInput {
    margin: auto 0;
    display: inline-block;
    height: 60%;
    width: 100px;
    margin-right: 20px;
    background: #FFFFFF;
    border: 1px solid #D4D4D8;
    box-sizing: border-box;
    border-radius: 4px;
}

.addInput:focus {
    outline: none;
}